@model periodTracker.Models.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = "Details";
    @*Layout = "~/Views/Shared/_Layout_Account.cshtml";*@
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    .main {
        color: #797979;
        background: #f8f7f5;
        font-family: 'Open Sans', sans-serif;
        padding: 0px !important;
        margin: 0px !important;
        @*font-size: 20px;*@
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
    }

    .profile-nav, .profile-info {
        margin-top: 30px;
    }

        .profile-nav .user-heading {
            background: #ff96b7;
            color: #fff;
            border-radius: 4px 4px 0 0;
            -webkit-border-radius: 4px 4px 0 0;
            padding: 30px;
            text-align: center;
        }

            .profile-nav .user-heading.round a {
                border-radius: 50%;
                -webkit-border-radius: 50%;
                border: 10px solid rgba(255,255,255,0.3);
                display: inline-block;
            }

            .profile-nav .user-heading a img {
                width: 112px;
                height: 112px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
            }

            .profile-nav .user-heading h1 {
                font-size: 22px;
                font-weight: 300;
                margin-bottom: 5px;
            }

            .profile-nav .user-heading p {
                font-size: 12px;
            }

        .profile-nav ul {
            margin-top: 1px;
        }

            .profile-nav ul > li {
                border-bottom: 1px solid #ebeae6;
                margin-top: 0;
                line-height: 30px;
            }

                .profile-nav ul > li:last-child {
                    border-bottom: none;
                }

                .profile-nav ul > li > a {
                    border-radius: 0;
                    -webkit-border-radius: 0;
                    color: #89817f;
                    border-left: 5px solid #fff;
                }

                    .profile-nav ul > li > a:hover, .profile-nav ul > li > a:focus, .profile-nav ul li.active a {
                        background: #f8f7f5 !important;
                        border-left: 5px solid #ff96b7;
                        color: #89817f !important;
                    }

                .profile-nav ul > li:last-child > a:last-child {
                    border-radius: 0 0 4px 4px;
                    -webkit-border-radius: 0 0 4px 4px;
                }

                .profile-nav ul > li > a > i {
                    font-size: 16px;
                    padding-right: 10px;
                    color: #bcb3aa;
                }

    .r-activity {
        margin: 6px 0 0;
        font-size: 12px;
    }

    .p-text-area, .p-text-area:focus {
        border: none;
        font-weight: 300;
        box-shadow: none;
        color: #c3c3c3;
        font-size: 16px;
    }

    .profile-info .panel-footer {
        background-color: #f8f7f5;
        border-top: 1px solid #e7ebee;
    }

        .profile-info .panel-footer ul li a {
            color: #7a7a7a;
        }

    .bio-graph-heading {
        background: #ff96b7;
        color: #fff;
        text-align: center;
        font-style: italic;
        padding: 40px 110px;
        border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        font-size: 16px;
        font-weight: 300;
    }

    .bio-graph-info {
        color: #89817e;
    }

        .bio-graph-info h1 {
            font-size: 22px;
            font-weight: 300;
            margin: 0 0 20px;
        }

    .bio-row {
        width: 50%;
        float: left;
        margin-bottom: 10px;
        padding: 0 15px;
    }

        .bio-row p span {
            width: 100px;
            display: inline-block;
        }

    .bio-chart, .bio-desk {
        float: left;
    }

    .bio-chart {
        width: 40%;
    }

    .bio-desk {
        width: 60%;
    }

        .bio-desk h4 {
            font-size: 15px;
            font-weight: 400;
        }

            .bio-desk h4.terques {
                color: #4CC5CD;
            }

            .bio-desk h4.red {
                color: #e26b7f;
            }

            .bio-desk h4.green {
                color: #97be4b;
            }

            .bio-desk h4.purple {
                color: #caa3da;
            }

    .file-pos {
        margin: 6px 0 10px 0;
    }

    .profile-activity h5 {
        font-weight: 300;
        margin-top: 0;
        color: #c3c3c3;
    }

    .summary-head {
        background: #ee7272;
        color: #fff;
        text-align: center;
        border-bottom: 1px solid #ee7272;
    }

        .summary-head h4 {
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        .summary-head p {
            color: rgba(255,255,255,0.6);
        }

    ul.summary-list {
        display: inline-block;
        padding-left: 0;
        width: 100%;
        margin-bottom: 0;
    }

        ul.summary-list > li {
            display: inline-block;
            width: 19.5%;
            text-align: center;
        }

            ul.summary-list > li > a > i {
                display: block;
                font-size: 18px;
                padding-bottom: 5px;
            }

            ul.summary-list > li > a {
                padding: 10px 0;
                display: inline-block;
                color: #818181;
            }

        ul.summary-list > li {
            border-right: 1px solid #eaeaea;
        }

            ul.summary-list > li:last-child {
                border-right: none;
            }

    .activity {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }

        .activity.alt {
            width: 100%;
            float: right;
            margin-bottom: 10px;
        }

        .activity span {
            float: left;
        }

        .activity.alt span {
            float: right;
        }

        .activity span, .activity.alt span {
            width: 45px;
            height: 45px;
            line-height: 45px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            background: #eee;
            text-align: center;
            color: #fff;
            font-size: 16px;
        }

        .activity.terques span {
            background: #8dd7d6;
        }

        .activity.terques h4 {
            color: #8dd7d6;
        }

        .activity.purple span {
            background: #b984dc;
        }

        .activity.purple h4 {
            color: #b984dc;
        }

        .activity.blue span {
            background: #90b4e6;
        }

        .activity.blue h4 {
            color: #90b4e6;
        }

        .activity.green span {
            background: #aec785;
        }

        .activity.green h4 {
            color: #aec785;
        }

        .activity h4 {
            margin-top: 0;
            font-size: 16px;
        }

        .activity p {
            margin-bottom: 0;
            font-size: 13px;
        }

        .activity .activity-desk i, .activity.alt .activity-desk i {
            float: left;
            font-size: 18px;
            margin-right: 10px;
            color: #bebebe;
        }

        .activity .activity-desk {
            margin-left: 70px;
            position: relative;
        }

        .activity.alt .activity-desk {
            margin-right: 70px;
            position: relative;
        }

            .activity.alt .activity-desk .panel {
                float: right;
                position: relative;
            }

    .activity-desk .panel {
        background: #F4F4F4;
        display: inline-block;
    }


    .activity .activity-desk .arrow {
        border-right: 8px solid #F4F4F4 !important;
    }

    .activity .activity-desk .arrow {
        border-bottom: 8px solid transparent;
        border-top: 8px solid transparent;
        display: block;
        height: 0;
        left: -7px;
        position: absolute;
        top: 13px;
        width: 0;
    }

    .activity-desk .arrow-alt {
        border-left: 8px solid #F4F4F4 !important;
    }

    .activity-desk .arrow-alt {
        border-bottom: 8px solid transparent;
        border-top: 8px solid transparent;
        display: block;
        height: 0;
        right: -7px;
        position: absolute;
        top: 13px;
        width: 0;
    }

    .activity-desk .album {
        display: inline-block;
        margin-top: 10px;
    }

        .activity-desk .album a {
            margin-right: 10px;
        }

            .activity-desk .album a:last-child {
                margin-right: 0px;
            }

    .navbar {
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .navbar-brand,
    .navbar-nav li a {
        color: #333;
    }

        .navbar-nav li a:hover,
        .navbar-nav li a:focus {
            color: #007bff;
            background-color: transparent;
        }

    .navbar-nav li.active a {
        color: #007bff;
        background-color: transparent;
    }

    .navbar-toggle {
        border-color: #ddd;
    }

        .navbar-toggle:hover,
        .navbar-toggle:focus {
            background-color: #ddd;
        }

        .navbar-toggle .icon-bar {
            background-color: #333;
        }

    /* Custom styles for the navigation bar */
    .navbar-custom {
        background-color: #fff;
        border-radius: 0;
    }

        .navbar-custom .navbar-brand {
            color: #a64d79;
        }

        .navbar-custom .navbar-nav li a {
            color: #a64d79;
        }

            .navbar-custom .navbar-nav li a:hover,
            .navbar-custom .navbar-nav li a:focus {
                color: #007bff;
            }

        .navbar-custom .navbar-nav .active a,
        .navbar-custom .navbar-nav .active a:hover,
        .navbar-custom .navbar-nav .active a:focus {
            color: #007bff;
            background-color: transparent;
        }

        .navbar-custom .navbar-toggle {
            border-color: #ddd;
        }

            .navbar-custom .navbar-toggle:hover,
            .navbar-custom .navbar-toggle:focus {
                background-color: #ddd;
            }

            .navbar-custom .navbar-toggle .icon-bar {
                background-color: #a64d79;
            }

    @@media (min-width: 768px) {
        .navbar-custom {
            border-radius: 0;
        }
    }
</style>

<div class="main">
    <nav class="navbar navbar-default navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="MenstrualCycle" asp-action="Calendar"><i class="fas fa-home opacity-6 text-dark me-1"></i> Home</a></li>
                    <li><a asp-area="" asp-controller="MenstrualCycle" asp-action="EnterCycle"><i class="fas fa-calendar opacity-6 text-dark me-1"></i> Overview</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Logout"><i class="fas fa-sign-out-alt opacity-6 text-dark me-1"></i> Logout</a></li>

                    <!-- Add more navigation links here -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="profile-nav col-md-3">
                <div class="panel">
                    <div class="user-heading round">
                        <a href="#">
                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                        </a>
                        <h1>@Html.DisplayFor(model => model.User.FirstName)</h1>
                        <p>@Html.DisplayFor(model => model.User.Email)</p>
                    </div>

                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a asp-action="Details" asp-route-id="@Model?.User.Id"> <i class="fa fa-user"></i> Profile</a></li>
                        @*<li><a href="#"> <i class="fa fa-calendar"></i> Recent Activity <span class="label label-warning pull-right r-activity">9</span></a></li>*@
                        <li><a asp-action="Edit" asp-route-id="@Model?.User.Id"> <i class="fa fa-edit"></i> Edit profile</a></li>
                        <li><a asp-action="Delete" asp-route-id="@Model?.User.Id"> <i class="fa fa-trash"></i> Delete Account</a></li>
                    </ul>
                </div>
            </div>
            <div class="profile-info col-md-9">
                <div class="panel">
                    @*<form>
                <textarea placeholder="Whats in your mind today?" rows="2" class="form-control input-lg p-text-area"></textarea>
            </form>

        <footer class="panel-footer">
            <button class="btn btn-warning pull-right">Post</button>
            <ul class="nav nav-pills">
                <li>
                    <a href="#"><i class="fa fa-map-marker"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-camera"></i></a>
                </li>
                <li>
                    <a href="#"><i class=" fa fa-film"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-microphone"></i></a>
                </li>
            </ul>
        </footer>*@
                    <br /><br /><br />
                </div>
                <div class="panel">
                    <div class="bio-graph-heading">
                        Empowering Women, Understanding Their Cycles.
                    </div>
                    <div class="panel-body bio-graph-info">
                        <h1>Bio Graph</h1>
                        <div class="row">
                            <div class="bio-row">
                                <p><span>First Name </span>: @Html.DisplayFor(model => model.User.FirstName)</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Last Name </span>: @Html.DisplayFor(model => model.User.LastName)</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Age </span>: @Html.DisplayFor(model => model.User.Age)</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Birthday</span>: @Html.DisplayFor(model => model.User.DateOfBirth)</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Email </span>: @Html.DisplayFor(model => model.User.Email)</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Username </span>: @Html.DisplayFor(model => model.User.UserName)</p>
                            </div>
                            @*<div class="bio-row">
                                    <p><span>Email </span>: jsmith@flatlab.com</p>
                                </div>
                                <div class="bio-row">
                                    <p><span>Mobile </span>: (12) 03 4567890</p>
                                </div>
                                <div class="bio-row">
                                    <p><span>Phone </span>: 88 (02) 123456</p>
                                </div>*@
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="bio-chart">
                                        <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="@Html.DisplayFor(model => model.MenstrualProfile.CycleLength)" data-fgcolor="#e06b7d" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(224, 107, 125); padding: 0px; -webkit-appearance: none; background: none;"></div>
                                    </div>
                                    <div class="bio-desk">
                                        <h4 class="red">Cycle Length</h4>
                                        <p>@Html.DisplayFor(model => model.MenstrualProfile.CycleLength) days</p>
                                        @*<p>Deadline : 15 August</p>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="bio-chart">
                                        <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="@Html.DisplayFor(model => model.MenstrualProfile.PeriodLength)" data-fgcolor="#4CC5CD" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(76, 197, 205); padding: 0px; -webkit-appearance: none; background: none;"></div>
                                    </div>
                                    <div class="bio-desk">
                                        <h4 class="terques">Period Length </h4>
                                        <p>@Html.DisplayFor(model => model.MenstrualProfile.PeriodLength) days</p>
                                        @*<p>Deadline : 15 August</p>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="bio-chart">
                                        <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="@Html.DisplayFor(model => model.MenstrualProfile.Weight)" data-fgcolor="#96be4b" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(150, 190, 75); padding: 0px; -webkit-appearance: none; background: none;"></div>
                                    </div>
                                    <div class="bio-desk">
                                        <h4 class="green">Weight</h4>
                                        <p>@Html.DisplayFor(model => model.MenstrualProfile.Weight) Kg</p>
                                        @*<p>Deadline : 15 August</p>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="bio-chart">
                                        <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="@Html.DisplayFor(model => model.MenstrualProfile.Height)" data-fgcolor="#cba4db" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(203, 164, 219); padding: 0px; -webkit-appearance: none; background: none;"></div>
                                    </div>
                                    <div class="bio-desk">
                                        <h4 class="purple">Height</h4>
                                        <p>@Html.DisplayFor(model => model.MenstrualProfile.Height) cm</p>
                                        @*<p>Deadline : 15 August</p>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





































@*
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
            }

            .profile-view {
                background-color: #fff;
                border-radius: 10px;
                padding: 20px;
                margin: 20px auto;
                max-width: 800px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .profile-title {
                color: #444;
                font-size: 24px;
                font-weight: bold;
            }

            .profile-separator {
                background-color: #ddd;
                height: 1px;
                margin: 20px 0;
            }

            .profile-info dt {
                color: #666;
                font-weight: bold;
            }

            .profile-info dd {
                color: #333;
                margin-left: 10px;
            }

            .profile-actions {
                display: flex;
                justify-content: flex-end;
            }

            .profile-edit-btn,
            .profile-back-btn,
            .profile-delete-btn {
                color: #fff;
                border-radius: 5px;
                padding: 10px 20px;
                text-decoration: none;
            }

            .profile-edit-btn {
                background-color: #007bff;
                margin-right: 10px;
            }
            profile-delete-btn {
                background-color: #bd3654;
                margin-right: 15px;
            }
            .profile-edit-btn:hover,
            .profile-back-btn:hover,
            .profile-delete-btn:hover{
                opacity: 0.8;
            }
        </style>

        <body>
            <div class="container profile-view">
                <h1 class="profile-title mt-4">My Profile</h1>

                <hr class="profile-separator" />

                <div class="row">
                    <div class="col-md-6 profile-info">
                        <dl class="row">
                            <dt class="col-sm-3">FirstName:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.FirstName)</dd>

                            <dt class="col-sm-3">LastName:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.LastName)</dd>

                            <dt class="col-sm-3">Age:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Age)</dd>

                            <dt class="col-sm-3">Email:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

                            <dt class="col-sm-3">DateofBirth:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.DateOfBirth)</dd>
                        </dl>
                    </div>
                </div>

                <div class="row mt-4 profile-actions">
                    <div class="col-md-6">
                        <a class="btn btn-primary profile-edit-btn" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                        <a class="btn btn-primary profile-delete-btn" asp-action="Delete" asp-route-id="@Model?.Id">Delete Account</a>

                </div>
            </div>
        </div>
    </body>

*@





























@*
    <style>
        body {
            background-color: #f9d6d4;
        }
        /* Container and Title */
        .container.profile-view {
            max-width: 600px;
            margin: 2rem auto;
            padding: 2rem;
            background-color: #f9d6d4;

            border-radius: 10px;
            box-shadow: 6px 10px 15px 12px rgba(0, 0, 0, 0.1);
        }

        .profile-title {
            text-align: center;
            color: #7c4e4e;
            font-size: 2rem;
            font-weight: bold;
        }

        /* Separator */
        .profile-separator {
            border: 0;
            border-top: 1px solid #eee;
            margin: 1.5rem 0;
        }

        /* Profile Information */
        .profile-info dl dt {
            font-weight: bold;
            color: #7c4e4e;
        }

        .profile-info dl dd {
            margin-left: 10px;
            color: #7c4e4e;
        }

        /* Action Buttons */
        .profile-actions .btn {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border-radius: 20px;
        }

        .profile-edit-btn {
            background-color: #dd8d8a;
            color: #fff;
            transition: background-color 0.3s ease;
        }

            .profile-edit-btn:hover {
                background-color: #d09fa8;
            }

        .profile-back-btn {
            background-color: #6c757d;
            color: #fff;
            transition: background-color 0.3s ease;
        }

            .profile-back-btn:hover {
                background-color: #5a6268;
            }

    </style>
    <div class="container profile-view">
        <h1 class="profile-title mt-4">My Profile</h1>

        <hr class="profile-separator" />

        <div class="row">
            <div class="col-md-6 profile-info">
                <dl class="row">
                    <dt class="col-sm-3">First Name:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.FirstName)</dd>

                    <dt class="col-sm-3">Last Name:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.LastName)</dd>

                    <dt class="col-sm-3">Age:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Age)</dd>

                    <dt class="col-sm-3">Email:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

                    <dt class="col-sm-3">Date of Birth:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.DateOfBirth)</dd>
                </dl>
            </div>

            <div class="col-md-6 menstrual-info">
                <h3 class="mt-4">Menstrual Profile Information</h3>
                <dl class="row">
                    <dt class="col-sm-3">Last Period Start Date:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

                    <dt class="col-sm-3">Average Cycle Length:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.DateOfBirth)</dd>

                    <dt class="col-sm-3">Average Period Length:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.LastName)</dd>
                </dl>
            </div>
        </div>

        <div class="row mt-4 profile-actions">
            <div class="col-md-6">
                <a class="btn btn-primary profile-edit-btn" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                <a class="btn btn-secondary profile-back-btn ml-2" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
*@

